* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;

}

/* star header section  */

.top_container {
    width: 1600px;
    height: 808px;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
}

.heading_container {
    text-align: right;
    padding-right: 230px;
}

.heading {
    color: #151414;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 525px;
}

.heading_des {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 494px;
    padding: 24px 0px 32px 0px;
    margin-left: auto;

}

.btn {
    color: #FFF;
    background: #F15B22;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border-style: none;

}

/* end top section style  */

/* stat main section  */

.main_container {
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_con1 {
    margin-top: 335px;
}

.profile {
    width: 527.929px;
    height: 527.929px;
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);


}

.profile_photo {
    margin-top: -195px;
    margin-left: -21px;
}

.main_con1 {
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;

}

.my_fail_head {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 288px;
}

.my_fail_des {
    width: 416px;
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0px
}

.my_failures ul {
    padding-left: 30px;
}


.my_plans {
    color: #151414;
    font-size: 40px;
    padding-bottom: 50px;

    font-weight: 700;
    padding-top: 183px;
}

.main_con2 {
    width: 1140px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;

}

.my_plans_all {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.my_plans_all_icon {
    width: 92.95px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

.my_plans_all_title {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.my_plans_all_title_des {
    color: #737272;
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main_con3 {
    display: flex;
    flex-direction: column;
    width: 1140px;
    height: 300px;
    background-image: url(../images/watch.png), url(../images/gradient2.png);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: cover, left;
    color: white;
    text-align: left;
    justify-content: center;
    align-items: left;
}

.keep_positive {
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 459px;
    padding-left: 64px;
}

.call_now {
    padding-top: 10px;
    padding-left: 64px;
}

.btn_call_now {
    color: #F15B22;
    background: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border-style: none;
}

/* end main section  */

/* star footer section  */

.future_footer {
    color: white;
    margin-top: 100px;
    width: 1600px;
    height: 577px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    background-color: #151414;
    text-align: left;
}

.future_head {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.future_des {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 485px;
}

.future p {
    padding: 10px 0px 10px 0px;
}

.social_icon img {
    display: inline-block;
    padding: 10px;
}

.subscribe_title {
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.email_subs {
    display: block;
    width: 325px;
    height: 65px;
    border-radius: 8px;
    border: 1px solid #FFF;
    margin: 15px 0 15px 0;

}

.subscribe, .future {
    text-align: left;
    padding-top: 150px;
}

.subscribe_btn{
    color: #F15B22;
    background: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border-style: none;
}

.email_subs{
    background-color: #151414;
    color: white;
}

/* end footer section  */